$primary-color: rgb(255, 0, 0);

.inner-border {
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
  right: 10px;
  // border: 1px dashed black;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%23EC3463' stroke-width='4' stroke-dasharray='15' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 15px;
}

.control-panel {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;

  padding: 10px;
  z-index: 10000;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  width: 50px;
  font-size: 40px;
  font-weight: 100;

  border-radius: 50%;
  // background-color: rgba(0, 0, 0, 0.7);
  background-color: $primary-color;
  color: white;

  margin: 5px;
  margin-bottom: 16px;
  cursor: pointer;
  user-select: none;
}

.import-stamp-modal-backdrop {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: $primary-color, $alpha: 0.1);
  z-index: 1000;
}

.import-stamp-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 56px;

  border-radius: 24px;
  border: 1px solid $primary-color;
}

.stamp-preview {
  background-color: white;
  padding: 8px;

  border-radius: 8px;
  border: 1px solid $primary-color;
}

.stamp-upload-button {
  margin-top: 32px;
}

.stamp-upload-input {
  display: none;
}

.stamp-upload-button label {
  display: flex;
  box-sizing: border-box;
  font-weight: 400;
  align-items: center;
  justify-content: center;

  height: 50px;
  width: 216px;
  color: white;
  padding: 8px;
  border-radius: 8px;

  background-color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 8px;

  cursor: pointer;

  &:hover {
    background-color: rgba($color: $primary-color, $alpha: 0.85);
  }
}

.stamp-control {
  height: 50px;
  width: 216px;

  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    color: $primary-color;
    border-radius: 50%;
    font-size: 45px;
    cursor: pointer;
    user-select: none;
  }
}
